<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/font-awesome.css" rel="stylesheet" />

	</head>

	<body 			style="background-image: url('/login/images/bg-01.jpg');"
    >
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			
			<img  style="width:40px;border-radius:50%" src="/events/images/bg-01.jpg" alt="Cinque Terre">

			<a class="navbar-brand" href="/profile">Profile</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					

					<li class="nav-item active">
						<a class="dropdown-item" href="/speakers/list">speakers</a>
					</li>

				
					<li class="nav-item active">
						<a class="dropdown-item" href="/events/list">Events</a>
					</li>

					<li class="nav-item active">
						<a class="dropdown-item" href="/events/add"> +Add Event</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
                    <a class="nav-link"  href="/register">Register <span class="sr-only">(current)</span></a>

					<a class="nav-link" href="/logout">LogOut <span class="sr-only">(current)</span></a>
				</form>
			</div>
		</nav>
		<script src="/js/JQuery-3.3.1.min.js"></script>
		<script src="/js/popper.js"></script>
		<script src="/js/bootstrap.js"></script>
	</body>
</html>
